letter-venv/
SilwerGyatt/
__pycache__/
AdrianVenv/
EMNIST_data/
wandb/
torch_EMNIST/
models/
static/uploads/
static/process_imgs/
results/
demo_site/
regression.py
save_models/
data_zip/
torch_Cifar10/
experiment/datasets_cifar10.json
experiment/train_script_cifar10.py
analysis/PlotNeuralNet
C3_32*
texput.log
node_modules/
package-lock.json