<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="static/script.js"></script>
        <link rel="stylesheet" href="static/style.css">
        <title>Image Prediction</title>
    </head>
    <body style="width: 100%;">
        <div id="controlPanel">
            <div id="upload_container" class="action_button">
                <button id="uploadBtn" class="action_button">Select file</button>
            </div>
            <form id="uploadForm" action="/submit" method="post" enctype="multipart/form-data" style="display: flex; align-items: center;" class="action_button" >
                <input type="file" name="img_upload" id="imgInput" accept="image/*" class="action_button" style="display: none;">
                <input type="submit" value="Upload" id ="submitBtn" class="action_button"></button>
            </form>
            <form id="predict" action="/predict" method="post" class="action_button">
                <button type="submit" class="action_button">Predict</button>
            </form>
        </div>

        <table border="0" cellspacing="0">

            </tr>
            <tr>
                <td><h2>Uploaded Image:</h2></td>
                <td><h2>Inverted Image:</h2></td>
                <td><h2>Probabilities:</h2></td>
            </tr>
            <tr>
                <td id="og_img">
                    {% if file_name %}
                        <img src="{{ url_for('static', filename='uploads/uploaded_file') }}" alt="Uploaded img" style="width: 300px; height: 300px;">
                        <p>Name:<strong> {{ file_name }} </strong></p> 
                    {% else %}
                        <p>No file uploaded yet.</p>
                    {% endif %}
                </td>
                <td id = 'resized_img'>
                    {%if resized_img %}
                        <img src="{{url_for('static', filename='process_imgs/resized_img.jpg')}}" style="width: 300px; height: 300px;">
                    {% else %}
                        <div></div>
                    {% endif %}
                    {% if letter %}
                        <p>Predicted: {{letter}}</p>
                    {% else %}
                        <div></div>
                    {% endif %}
                </td>
                <td id = 'prob'>
                    {% if sorted_top_3 %}
                        <ol>
                            {% for alph,prob in sorted_top_3 %}
                            <li>{{alph}}: {{prob}}%</li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <div></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                
            </tr>
        </table>
    </body>
</html>
